<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue.jsとElementの試作</title>
  <!-- <link rel="stylesheet" href="./main.css"> -->
</head>

<body>

  <div id="app">
    <menuheader></menuheader>

    <!-- ★STEP11 -->
    <!-- 絞り込みラジオボタン -->
    <my-select v-bind:mysoptions="options" v-bind:myscurrent="current" v-on:updatecurrent="updatecurrentfunc">
    </my-select>
    <hr>
    <!--
    <label v-for="label in options" >
      <input type="radio"
        v-model="current"
        v-bind:value="label.value">{{ label.label }}
    </label>
  -->

    <!-- ★STEP12 -->
    （{{ computedTodos.length }} 件を表示）

    <!-- ★STEP4 リスト用テーブル -->
    <template>
      <el-table v-bind:data="computedTodos">
        <el-table-column prop="id" label="ID"></el-table-column>
        <el-table-column prop="comment" label="コメント"></el-table-column>
        <el-table-column label="状態">
          <template slot-scope="scope">
            <el-button v-on:click="doChangeState(computedTodos[scope.$index])">
              {{ labels[computedTodos[scope.$index].state] }}
            </el-button>
          </template>
        </el-table-column>
        <el-table-column label="-">
          <template slot-scope="scope">
            <el-button v-on:click="showDialogDetail(computedTodos[scope.$index])">詳細</el-button>
          </template>
        </el-table-column>
        <el-table-column label="-">
          <template slot-scope="scope">
            <el-button v-on:click="doRemove(computedTodos[scope.$index])">削除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </template>

    <!-- ★STEP6 -->
    <h2>新しい作業の追加</h2>
    <form class="add-form" v-on:submit.prevent="doAdd">
      <!-- コメント入力フォーム -->
      コメント <input type="text" ref="comment">
      <!-- 追加ボタンのモック -->
      <button type="submit">追加</button>
    </form>

    <el-dialog title="詳細設定" v-bind:visible.sync="dialogVisible" width="80%" v-bind:before-close="handleClose">
      <div>詳細を入力してください</div>
      <el-input type="textarea" :rows="2" placeholder="Please input" v-model="dialogItem.detail">
      </el-input>
    </el-dialog>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- CDNのElementで日本語を使う-->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="http://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://unpkg.com/element-ui/lib/umd/locale/ja.js"></script>
  <!-- ここから自作部分 -->
  <script src="./menuheader.js"></script>
  <script src="./select.js"></script>
  <script src="./main.js"></script>
</body>

</html>